{#site.data.author}
<ul class="nav nav--inline social-links">
    <li>
        <a href="https://github.com/{github}">
            <span class="icon github">
                {#inc src="svg/github.html" /}
            </span>
            <span class="username">{github}</span>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/{twitter}">
            <span class="icon twitter">
                {#inc src="svg/twitter.html" /}
            </span>
            <span class="username">{twitter}</span>
        </a>
    </li>
</ul>
{/site.data.author}