<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BrowserSync snippet injector plugin.</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Building things with Javascript.">
    <link rel="canonical" href="">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{site.cssFile}">

    <!-- Custom Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>