<!DOCTYPE html>
<html>

{#inc src="head" /}

<body class="post">

{#inc src="header" /}

<main class="page-content">
    <div class="container">
        <div class="post">

            <header class="post-header">
                <h1>{post.title}</h1>
                <p class="meta">{post.date}</p>
            </header>

            <article class="post-content">
                {#content /}
            </article>

            {#inc src="pagination" next=post.next prev=post.prev /}
        </div>
    </div>
</main>

{#inc src="footer" /}
{#inc src="scripts" /}
</body>
</html>